<li class="app">
	<input id="app-{{ id }}" type="radio" name="app" value="{{ id }}" />
	<label for="app-{{ id }}">{{ id }}</label>
	<ul class="filters">
		<li class="filter info" data-type="info" data-state="on" data-news="0">i</li>
		<li class="filter warning" data-type="warning" data-state="on" data-news="0">w</li>
		<li class="filter error" data-type="error" data-state="on" data-news="0">e</li>
	</ul>
</li>
