{{#partial "content"}}
  <article id="sentinel" class="">
    <header></header>

    <aside class="apps-box">
      <div class="user-box"></div>
      <div class="apps-list-label">Applications</div>
      <ul id="apps"></ul>
    </aside>


    <section class="console-box">
      <div class="toolbar">
        <div id="btn-clear" class="btn">Clear</div>
      </div>

      <div class="reference-box hidden"></div>
      <div id="console" class="">
      </div>
    </section>
  </article>
{{/partial}}

{{> mainlayout}}
