.user-box {
	height: 39px;
	box-sizing: border-box;
	padding: 6px 0;
	color: rgb(94, 94, 94);
}

.carousel {
	height: 100%;
	position: relative;
}
.carousel > .user {
	text-align: center;
	height: 100%;
	line-height: 26px;
	position: relative;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, .1);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.77);
	overflow: hidden;
	cursor: pointer;
}
.carousel.activated > .user,
.carousel.closed > .user {
	z-index: 2;
}
.carousel > .user .name {
	background: rgb(231, 240, 255);
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.87);
	z-index: 1;
	position: relative;
}
.carousel.filled > .user:hover .name {
	-webkit-filter: blur(2px);
	transition: -webkit-filter 150ms ease-in-out 50ms;
}
.carousel.closed .hint {
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.23);
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	opacity: 0;
	border-radius: 1px;
}
.carousel.filled.closed > .user:hover .hint {
	opacity: 1;
	transition: opacity 250ms ease-in-out 50ms, z-index 150ms linear 50ms;
	z-index: 1;
}
.carousel.activated .users,
.carousel.closed .users {
	opacity: 0;
	z-index: 0;
}
.carousel .users {
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 3;
}
.carousel .users .user {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background-color: aliceblue;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	line-height: 24px;
	transition: left 300ms linear,
		-webkit-transform 300ms linear,
		background 300ms linear 50ms,
		box-shadow 100ms linear;
}
.carousel .users .user:after {
	position: absolute;
	content: '';
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 300ms linear;
}

.carousel .users .user:first-child {
	left: -126px;
	-webkit-transform: rotateY(90deg);
	transition: left 300ms linear, -webkit-transform 300ms linear, background 300ms linear 400ms;
}
.carousel .users .user:nth-child(2) {
	left: -101px;
	-webkit-transform: rotateY(72deg);
	transition: left 300ms linear, -webkit-transform 300ms linear, background 300ms linear 400ms, box-shadow 300ms linear;
}
.carousel .users .user:nth-child(3) {
	cursor: pointer;
	background: rgb(249, 253, 255);
	box-shadow: inset 0 0 10px rgba(203, 236, 255, 0.09), 0 0 1px 1px rgb(1, 200, 218);
	z-index: 2;
}
.carousel .users .user:nth-child(4) {
	left: 121px;
	-webkit-transform: rotateY(-55deg);
	z-index: 1;
}
.carousel .users .user:last-child {
	left: 167px;
	-webkit-transform: rotateY(-90deg);
}

.carousel.closed .users .user:nth-child(2) {
	-webkit-transform: rotateY(90deg);
	left: -78px;
}
.carousel.closed .users .user:nth-child(4) {
	-webkit-transform: rotateY(-90deg);
	left: 78px;
}

.carousel .users.next .user:first-child {
	transition: left 210ms linear, -webkit-transform 225ms linear, background 300ms linear 400ms;
}
.carousel .users.next .user:nth-child(2) {
	transition: left 285ms linear, -webkit-transform 291ms linear, background 300ms linear, box-shadow 270ms linear;
}
.carousel .users.previous .user:nth-child(4) {
	transition: left 276ms linear, -webkit-transform 276ms linear, background 300ms linear, box-shadow 270ms linear;
}
.carousel .users.previous .user:last-child {
	transition: left 252ms linear, -webkit-transform 267ms linear, background 300ms linear 400ms;
}


.carousel .users .user:first-child:after {
	background-image: -webkit-linear-gradient(right, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
	opacity: 1;
}
.carousel .users.next .user:nth-child(2):after {
	background-image: -webkit-linear-gradient(right, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
	opacity: .5;
}
.carousel .users.previous .user:nth-child(2):after {
	background-image: -webkit-linear-gradient(right, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
	opacity: .5;
}
.carousel .users.next .user:nth-child(3):after {
	background-image: -webkit-linear-gradient(left, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
}
.carousel .users.previous .user:nth-child(3):after {
	background-image: -webkit-linear-gradient(right, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
}
.carousel .users.next .user:nth-child(4):after {
	background-image: -webkit-linear-gradient(left, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
	opacity: .5;
}
.carousel .users.previous .user:nth-child(4):after {
	background-image: -webkit-linear-gradient(left, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
	opacity: .5;
}
.carousel .users .user:last-child:after {
	background-image: -webkit-linear-gradient(left, rgba(141, 141, 141, 0.35), rgba(141, 141, 141, 0.65));
	opacity: 1;
}
